.example-container {
  width: 1684px;
  height: 750px;
    border: 1px solid #f4efef;
  }
  
  .example-sidenav-content {
    
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
    
  }
  
  .mat-drawer-container {
    background-color: white;
  }

  .mat-drawer{
    background-color: rgb(1, 1, 26);
    width: 220px;
  }
  .mat-toolbar{
    background-color: orange;
  }
  .mat-list-item:hover{
    background-color: rgba(255, 255, 255, 0.203);
  }

  