i{
    color: black;
}
label{
    color: black;
    font-size:medium;
}
h6{
    color: black;
    font-size: large;
}
.row{
    padding: 3px;
}
h5{
    color: black;
    font-size: large;
}
th{
    font-size: 15px; text-align: center; 
}
.card{
    height: fit-content;
    width: fit-content;
    font-family: "Times New Roman", Times, serif;
    font-size: smaller;
}
