
.container{
    font-family: "Times New Roman", Times, serif;
    font-size: smaller;
}
input,button{
    font-family: "Times New Roman", Times, serif;
    font-size:small;
  }
  h1{
    font-family: "Times New Roman", Times, serif;
    font-size:large;
  }