<meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="container position-absolute top-50 translate-middle start-50"
    style="background-color: rgb(253, 227, 195);width: fit-content;">
   <div class="row" style="align-items:center">
        <div style="text-align:center">
            <h1 style="font-size: solid large;">Register Page</h1>
        </div>
        <div class="col" >
            <img src="../assets/media/login1.png" alt="login image" >
        </div>
        <div class="col">
            <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="row">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"
                                    style="margin-bottom: 5px;margin-top: 10px;"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder=" Enter your First Name"
                            formControlName="firstname">
                        <div style="color: red;"
                            *ngIf="registerForm.get('firstname')?.invalid && (registerForm.get('firstname')?.dirty || registerForm.get('firstname')?.touched) && registerForm.get('firstname')?.errors?.required">
                            Required
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-user"
                                    style="margin-bottom: 5px;margin-top: 10px;"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder=" Enter your Last Name"
                            formControlName="lastname">
                        <div style="color: red;"
                            *ngIf="registerForm.get('lastname')?.invalid && (registerForm.get('lastname')?.dirty || registerForm.get('lastname')?.touched) && registerForm.get('lastname')?.errors?.required">
                            Required
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-phone"
                                    style="margin-bottom: 5px;margin-top: 10px;"></i></span>
                        </div>
                        <input type="number" class="form-control" placeholder=" Enter your Phone Number"
                            formControlName="phone">
                        <div style="color: red;"
                            *ngIf="registerForm.get('phone')?.invalid && (registerForm.get('phone')?.dirty || registerForm.get('phone')?.touched) && registerForm.get('phone')?.errors?.required">
                            Required
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope"
                                    style="margin-bottom: 5px;margin-top: 10px;"></i></span>
                        </div>
                        <input type="email" class="form-control" placeholder=" Enter your Email ID"
                            formControlName="email">
                        <div style="color: red;"
                            *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.dirty || registerForm.get('email')?.touched) && registerForm.get('email')?.errors?.required">
                            Required
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-birthday-cake"
                                    style="margin-bottom: 5px;margin-top: 10px;"></i></span>
                        </div>
                        <input type="date" class="form-control" formControlName="dob">
                        <div style="color: red;"
                            *ngIf="registerForm.get('dob')?.invalid && (registerForm.get('dob')?.dirty || registerForm.get('dob')?.touched) && registerForm.get('dob')?.errors?.required">
                            Required
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1"><i class="fa fa-key"
                                    style="margin-bottom: 5px;margin-top: 10px;"></i></span>
                        </div>
                        <input type="password" class="form-control" formControlName="pwd"
                            placeholder=" Create a password">
                        <div style="color: red;"
                            *ngIf="registerForm.get('pwd')?.invalid && (registerForm.get('pwd')?.dirty || registerForm.get('pwd')?.touched) && registerForm.get('pwd')?.errors?.required">
                            Required
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><i class="fa fa-transgender"
                                        style="margin-bottom: 5px;margin-top: 5px;"></i></span>
                            </div>

                        </div>
                    </div>
                    <div class="col" style="margin-top: 10px;">
                        <input type="radio" value="male" name="gender" formControlName="gender" style="margin-right: 10px;">Male
                        <input type="radio" value="female" name="gender" formControlName="gender" style="margin-right: 10px;">Female
                        <input type="radio" value="transgender" name="gender" formControlName="gender" style="margin-right: 10px;">Transgender
                        <div style="color: red;"
                            *ngIf="registerForm.get('gender')?.invalid && (registerForm.get('gender')?.dirty || registerForm.get('gender')?.touched) && registerForm.get('gender')?.errors?.required">
                            Required
                        </div>
                       
                    </div>

                </div>
                <div class="row"><div class="col" style="margin-left: 100px;">
                    <button type="submit" class="btn btn-success" [disabled]="!registerForm.valid">Register</button></div>
                </div>
            </form>
        </div>


    </div>
</div>