.card{
    font-family: "Times New Roman", Times, serif;
    font-size: smaller;
    display: flex;
}
label{
    margin-top: 10px;
    margin-bottom: 2px;
    font-family: "Times New Roman", Times, serif;
    font-size:small;

}
h4{
    font-family: "Times New Roman", Times, serif;
    font-size: medium;
}
input,div,button{
    font-family: "Times New Roman", Times, serif;
    font-size: small;
}
button{
    margin-left: 10px;
}