.card{
    height: 330px;
    width:700px;
    font-family: "Times New Roman", Times, serif;
    font-size: smaller;

}
label{
    margin-top: 10px;
    margin-bottom: 2px;
    font-family: "Times New Roman", Times, serif;
    font-size:small;

}
h2{
    font-family: "Times New Roman", Times, serif;
    font-size: medium;
}
input,div,button{
    font-family: "Times New Roman", Times, serif;
    font-size: small;
}
